{% extends 'post/base_not_log.html' %}
{% block body %}
<div class="container-fluid">

	<div class="row">
		<div class="col-sm-12 col-sm-offset-2" >
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Login to your Account</h3>
<!-- 					{% if error_message %}
					<p><strong>{{ error_message }}</strong></p>
					{% endif %} -->
					<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form.as_p }}
						
						<div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						        <button type="submit" class="btn btn-success">Submit</button>
						    </div>
						</div>


						<h3>Do not have an Account, Register for an Accout</h3>
						


						<div class="col-sm-12 col-sm-offset-2">
                        <a class="btn btn-success" href="http://localhost:8000/post/register/">register </a>
						</div>
					</form>
				</div>
				<div class="panel-footer">
				</div>
			</div>
		</div>
	</div>

</div>
<!-- 	    <form  method="post"> 

		{% csrf_token %}
		{{ form.as_p }}
		{{ profile_form.as_p }}

		<button type="submit">Save changes</button>

	    </form> -->
{% endblock %}